[Unit]
Description=Scrub ZFS Pool
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/env zpool scrub -s %i
ExecStart=/usr/bin/env zpool scrub %i
