[Unit]
Description=Scrub ZFS Pool
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
# Arch Linux:
#ExecStartPre=-/usr/bin/zpool scrub -s %i
#ExecStart=/usr/bin/zpool scrub %i
# Ubuntu:
ExecStartPre=-/sbin/zpool scrub -s %i
ExecStart=/sbin/zpool scrub %i
